body{
            font-family: 'Schoolbell','Raleway', sans-serif;
   			color:#444;
   			background-color:#EAE9E5;
   		}
       .navbar-default{
           background-color: #62A1C4;
           border:#62A1C4;
           color:#fff;
           padding-top:10px;
       }
   		.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
   			font-size:1.8em;
            color:#fff;
   		}
      p, p.lead{color:#444;}
      .logout-link{color:#444;padding:10px;}
      .logout-link:hover{color:#444;background-color:#fff;}
   		input.form-control:focus{border:1px solid #006900;-webkit-box-shadow:none; box-shadow:none;}
       .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:transparent;}
       .navbar-default .navbar-toggle{border-color:transparent;}
       .navbar-default .navbar-collapse{border-color:#006900;}
       .navbar-default .navbar-form, .navbar-form{border:none; -webkit-box-shadow:none;box-shadow:none; -moz-box-shadow:none;}
       .navbar-collapse{-webkit-box-shadow: none;}
       .navbar-default .navbar-toggle .icon-bar{background-color:#fff;}
       hr{ margin-top: 10px;border-top: 1px solid #006900 ;}
       .hr-small{width:80%;margin-top: 20px;border-top: 1px solid #006900 ;}
       p.lead{margin-bottom:0;}
   		#topContainer{
   			width:100%;
   			background-color:#EAE9E5;	
   		}
   		#topRow {
   			margin-top:110px;
   			text-align:center;	
            background-color:#fff;
            padding-top:15px;
   		}
   		#topRow h1{
   			font-size:300%;
            font-weight:900;
   		}
   		#topRow .form-group{
   			text-align:left;
        margin-top:15px;
        margin-bottom:0;
   		}
   		.bold{
   			font-weight:bold;
   		}
       .fa{color:#C73931;}
       .navbar-brand .fa{color:#fff;}
   		.marginTop{
   			margin-top:15px;
   		}
   		.form-control{
   			font-size:16px;
   		}
   		.btn-success{
   			background-color:#AADE1A;
   			color:#444;
   			border-color:#AADE1A;
   		}
       .btn-success:focus,.btn-success:hover{
           background-color:#006900;
           border-color:#006900;
           color:#fff;
       }
       .btn-lg{
           width:100%;
           margin-bottom:20px;
       }
       .signup-form .btn-success{margin-top:25px;}
       .alert-success{
       		color: #587082;
			background-color: #95f88f;
			border-color: #95f88f;
		}
		.alert-danger{
			color: #c90c18;
			background-color: #fbbfc2;
			border-color: #fbbfc2;
		}
    .listordiary{color:#444;font-size:20px;padding:4px 7px;}
    .listordiary:hover{color:#444;background-color: #fff}
    input.ng-touched.ng-invalid {
       border-color: #c90c18;
    }
   	.ng-active{
      color:#c90c18;
      font-size:12px;padding-left:4px;
      text-align:left;
      background-color:#EAE9E5;
      margin-top:5px;
    }
    .formerror{text-align: left;font-size:12px;font-weight:bold;padding-left:4px;color:#c90c18;background-color:#EAE9E5;width:85%;}
    #topRow .formerror{width:100%;}
    label{position:absolute;font-size:14px;color:#767676;transition: all 200ms ease-out;margin-left: 10px;z-index: 1;pointer-events: none;padding: 0 3px;-webkit-transform: translate3D(0, 5px, 0);background-color:#fff;}
    .has-focus label{font-size: 12px;-webkit-transform: translate3D(0, -11px, 0);margin-left:8px; background-color:#F5F4EB;color:#444;}
    input:-webkit-autofill{background-color: #fff !important}
.hippo-img{
    position:absolute; 
    top:-85px;
    left:0px;
    z-index:9999
}
footer{
    text-align:center;
    background-color:#62A1C4;
    /*border-top:2px solid #AADE1A;*/
    color:#fff;
    margin-top:100px;
    padding: 15px;
    position:relative;
}
.contentContainer .left{position:absolute;top:65%;left:5%;}
.contentContainer .right{position:absolute;top:35%;right:5%;}
footer p.copyright{color: #fff;z-index:3;font-size:18px;}
footer .left{position:absolute;top:-94px;left:10%;}
footer .right{position:absolute;top:-100px;right:10%;}
footer .fish1{position:absolute;top:-40px;left:30%;z-index:2;}
footer .fish2{position:absolute;top:-39px;right:35%;z-index:2;}
@media screen and (min-width:768px){
  .navbar-form .form-group{
    vertical-align:top;
  }
}
@media screen and (max-width:767px){
    #topRow {
        margin-top:100px;
    }
    #topRow h1{
        font-size:220%;
    }
    .marginTop{
        margin-top:20px;
    }
    .form-control{
      margin-top:15px;
    }
    .navbar-form{padding:45px 15px 3px;}
    .btn{margin-top:10px;}
    /*.hippo-img{
        top:-30px;
        left:5px;
    }*/
    .formerror{width:100%;}
    footer{
        margin-top:100px;
    }
    footer .left{left:5%;}
    footer .right{right:5%;}
    footer .fish1{left:20%;}
    footer .fish2{right:25%;}
}