body{
    font-family: 'Schoolbell', 'Raleway', sans-serif;
    color:#444;
    background-color:#EAE9E5;
}
ul{list-style-type:none;}
hr{ margin-top: 10px; border-top: 1px solid #fff ;}
.hr-small{
   width:50%;
   background-color:#fff;
   margin: 0 auto;
}
input.form-control:focus, textarea.form-control:focus{border:1px solid #727272;-webkit-box-shadow:none; box-shadow:none;}
.navbar-default{
   background-color: #62A1C4;
   border-color: #62A1C4;
   color:#fff;
   padding-top:25px;
   padding-bottom:25px;
}
.navbar-nav{
   margin-top:10px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    font-size:1.8em;
    padding: 5px 15px;
    color:#fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:transparent;}
.navbar-default .navbar-toggle{border-color:transparent;}
.navbar-nav>li>a{padding:5px 7px;border:1px solid #444;}
.navbar-default .navbar-nav>li>a{color:#444;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{ 
    color:#ffbf00;
    border-color:#ffbf00;
}
a, a:focus, a:hover{text-decoration:none;}
.logout-link{color:#444;padding:7px 10px; margin-top:0px;background-color:#AADE1A;}
.logout-link:hover{color:#fff;background-color:#006900;}
ul.list-titles{padding-left:0;}
ul.pagination-list li{display:inline;box-sizing:border-box;border-right:1px solid #999;}
.pagination-anchor{padding:5px;margin:3px;color:#444;box-sizing:border-box;}
.pagination-anchor:hover,.pagination-anchor:focus{background-color:#ff6a20;}
.list-titles li{padding-top:4px;margin-bottom:0;border:2px solid #F5F4EB}
.list-title-a{font-size:16px;line-height:1.3;color:#444;}
.list-titles li:hover,.list-titles li:focus{border:2px solid #727272;color:#444;}
.list-title-a:hover, .list-title-a:focus{color:#444;}
.list-titles li:hover hr,.list-titles li:focus hr{width:0;}
.navbar-brand{
    font-size:1.8em;
} 		
.current{color:#333;background-color:#ffbf00;}
#topContainer{
    background-color:#EAE9E5;
    width:100%;
}   		
.topRow1, .topRow2 {
    margin-top:10px;
    text-align:center;	
    position:relative;
}
.lead{background-color:#fff;color:#333;}
.topRow1{padding-right:0;margin-top: 0}
.topRow2{padding-left:0;}
.form-control{
    width:100%;
    margin:0 auto;
    font-size:16px;
    z-index:999;
    /*background-color:#ffffcc;*/
}
.form-control.title{
   line-height:.9;
   padding-top:0px;
   padding-bottom:0;
   margin-bottom:4px;
   font-weight:900;
}
.form-group{text-align:left;}
.btn-success{
    background-color:#AADE1A;
    color:#444;
    border-color:#AADE1A;
    font-size:14px;
  }
.btn-success:focus,.btn-success:hover{
   background-color:#006900;
   border-color:#006900;
    color:#fff;
}
li a.list-title-a p{font-size:11px; color:#893667;}
.new_entry_div{text-align:center;margin-top:12px;}
.new_entry{width:59%}
.delete{width:40%}
select.form-control{
   -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          border: 1px solid transparent;
    border-bottom:3px solid #006900;
  background: #006900;
  border-radius: 0px;
  font-size: 16px;
  padding:5px;
  padding-left:10px;
  width:100%;
  color:#fff;
}
select.form-control:focus{
  border: 1px solid #727272;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.list-group{margin-top: 10px;}
.list-group-item{text-align: left;background-color: #fff;border:none;margin-bottom:5px;}
.list-group-item a{text-decoration: none;color:#444;}
.list-group-item p{margin-bottom:0px;font-size:12px;color:#444;}
/*.list-group-item:focus, .list-group-item:hover{
  background-color: #fff;
}*/
.list-group-item.active,.list-group-item:hover, .list-group-item.active:hover{background-color:#62A1C4;border-color:#62A1C4;color:#fff;}
/*.list-group-item:hover{background-color:#62A1C4; border-color:#62A1C4;}*/

.list-group-item:hover a, .list-group-item:hover p, .list-group-item.active a, .list-group-item.active p{color:#fff}
input.ng-touched.ng-invalid {
     border: 2px solid #c90c18;
  }
  .ng-active{
    color:#c90c18;
    font-size:12px;padding-left:4px;
    text-align:left;
  }
.formerror{text-align: left;font-size:12px;font-weight:bold;padding:5px;color:#c90c18;}
label{position:absolute;font-size:14px;color:#444;transition: all 200ms ease-out;margin-left: 10px;z-index: 1;pointer-events: none;padding: 0 3px;-webkit-transform: translate3D(0, 5px, 0);background-color:#fff;}
.has-focus label{text-align:left;font-size: 12px;-webkit-transform: translate3D(0, -11px, 0);margin-left:8px; background-color:#AADE1A;color:#444;}
.topRow2 label{background-color:#006900;color:#fff;}
.topRow2 .has-focus label{background-color:#AADE1A;}
.serverMsg{/*background:red;color:#fff;*/width:80%;padding:3px 0;font-size:1.1em;position:absolute;margin-left:8%;top:-32px;}
.serverMsg.ng-enter {
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  transition:all 0.5s linear;
  opacity:0;
}
.serverMsg.ng-enter.ng-enter-active {
  opacity:1;
}
.serverMsg.ng-leave {
  -webkit-transition: all 0.5s linear;
  -moz-transition:all 0.5s linear;
  transition:all 0.5s linear;
  opacity:1;
}
.serverMsg.ng-leave.ng-leave-active {
  opacity:0;
}
.paginationList li a{text-decoration: none;color:#444;}
.paginationList li {float:left;margin:0 4px; background-color: #fff; padding:4px 5px ;}
.paginationList li:hover{background-color: #62A1C4;}
.paginationList li.active,.paginationList li.active:hover{background-color: #62A1C4;}
.paginationList li.disabled,.paginationList li.disabled:hover{background-color:#fff;}
.paginationList li.disabled a{color:#999;}
footer{
    text-align:center;
    background-color:#62A1C4;
    /*border-top:2px solid #AADE1A;*/
    color:#fff;
    padding: 15px;
    position:relative;
}
.hippo-img{
    position:absolute; 
    top:-105px;
    left:0px;
    z-index:9999999;
}
.hippo-img img, .hippo-img p {
    float:left;
}
.topRow1 .left{position:absolute;top:65%;left:-15%;}
.topRow1 .right{position:absolute;top:25%;right:-9%;}
.topRow2 .left{position:absolute; bottom:-15%;left:-13%;}
footer p.copyright{color: #fff;z-index:3;font-size:18px;}
footer .left{position:absolute;top:-94px;left:10%;}
footer .right{position:absolute;top:-100px;right:10%;}
footer .fish1{position:absolute;top:-40px;left:30%;z-index:2;}
footer .fish2{position:absolute;top:-39px;right:35%;z-index:2;}
@media screen and (max-width:767px){
    .navbar-default{padding-bottom:5px;}
   .navbar-default .navbar-toggle .icon-bar{background-color:#fff;}
   .navbar-toggle{padding-top: 0}
   .navbar-right{margin-top:20px;margin-bottom:20px;}
   .topRow1{padding-right:15px;}
   .topRow2 {
        margin-top:20px;
        padding-left:15px;
    }
    .new_entry{width:45%}
     .delete{width:45%}
    footer{
        margin-top:100px;
    }
    footer .left{left:5%;}
    footer .right{right:5%;}
    footer .fish1{left:20%;}
    footer .fish2{right:25%;}
    .logout-link{margin-left:80px;}
}